* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card {
  background: #020617;
  padding: 25px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0,0,0,0.8);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #0f172a;
  border: 1px solid #334155;
  color: white;
  border-radius: 6px;
}

input::placeholder {
  color: #94a3b8;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #2563eb;
  color: white;
}

button:hover {
  background: #1d4ed8;
}

.logout {
  background: #dc2626;
}

.logout:hover {
  background: #b91c1c;
}

pre {
  margin-top: 10px;
  background: #020617;
  padding: 10px;
  border-radius: 6px;
  max-height: 150px;
  overflow: auto;
}
